.menu1{
  margin-right: 75px

}

.navbar1{
  height: 50px;
}

@media only screen and (max-width: 994px) {
  .navbar1{
    height: 100%;
  }
}

body{
  background-color: #dc3545;
}

.cardmenu{
  padding-bottom: 40px;
}

.contacttext a{
  color: white;
  font-weight: bold;

}

.contacttext {
  color: white;
}
/*
.hrcont{
  border-top: 2px solid #f0f0f0;
  width: 45%;
  margin-top: 0.3em;
  margin-bottom: 1em;
}*/

.ramka{
  border: 2px solid white;
}

.maptext{
  font-size: 50px;
}
