.menu1{
  margin-right: 75px

}

.navbar1{
  height: 50px;
}
.myadres{
  font-size: 18px;
}
.prabout{
  font-size: 15px;
}

@media only screen and (max-width: 994px) {
  .navbar1{
    height: 100%;
  }
}
*/
@media only screen and (max-width: 600px) {
  .myadres{
    font-size: 15px;
  }
}
.mynavcol{
  color: #0e5f4c;
}

body{
  background-color: #f5f5f5; /*#dc3545 */

}

.cardmenu{
  padding-bottom: 40px;
}

.contacttext a{
  /*color: white;*/
  font-weight: bold;

}

.contacttext {
  /*color: white;*/
}

.hrcont{
  border-top: 2px solid #f0f0f0;
  width: 45%;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.ramka{
  border: 2px solid white;
}

.maptext{
  font-size: 50px;
}



.space{
  height: 20px;
}


.space5{
  margin-top: 60px;
  }



.space3{
  margin-top: 160px;
  }

.space6{
  margin-left: 40px;
  color: white;
  margin-top: 60px;*/
}

.space4{
    margin-top: 160px;
    margin-left: 60px;
    color: white;
    }
.view2 {
  height: 582px;
}


@media (max-width: 740px) {

  .view2 {
    min-height: 100%;
  }
  .space5{
    font-size: 2px;
  }

}
.blacksection2{
  background-color: black;
}
@media (max-width: 768px) {
  .blacksection2{
    background-color: white;
  }


}
@media (max-width: 814px) {
  .blacksection2{8
    background-color: white;
  }
  .gormos{
    font-size: 30px;
  }

}
/*
.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
*/
.mainh1 {
  letter-spacing: 8px;
}

.mainh5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.blacksection{
background-color: black;

}
.whitesection{
  background-color: white;
}


.timetableback{
  background-color: white;
}
.tabletext{

}


.myphone{
  width: 0.9em;
}


.mymail{
  width: 1.1em;
  padding-bottom: 5px;
}

.myvk{
  width: 1.4em;
}


.myinsta{
  width: 1.1em;

}

.mainindex{
  background: #fff;
}
.aloosha{
  padding-top: 100px;
  padding-bottom: 50px;
  letter-spacing: 10px;
}
